{% extends 'links/_base.html' %}

{% block title %}Link List{% endblock title %}

{% block content %}
    <div class="max-w-3xl mx-auto bg-white shadow-md rounded-lg p-6">
        <ul class="divide-y divide-gray-200">
            {% for link in links %}
                <li class="py-4 flex justify-between items-center">
                    <div>
                        <a href="{{ link.url }}" class="text-xl text-blue-600 hover:underline font-semibold" target="_blank">{{ link.name }}</a>
                        <span class="text-gray-500 block">Clicks: {{ link.clicks }}</span>
                    </div>
                </li>
            {% empty %}
                <li class="text-gray-500 text-center py-4">No links available.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
